@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: white;
    padding: 0px;
    margin: 0px;
}



/* .centro {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}

.roxo {
    width: 50vw;
    height: 100%;
    background-color: #4A0481;
    display: flex;
    justify-content: center;
}


.centro img{
    align-self: center;
    width: 50vw;
    height: 70vh;
}


.cadastro{
    font-family: "Poppins";
    display: flex;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    flex-wrap: nowrap;
}

input{
  width: 12vw;
  height: 4vh;
  border:none;
  border-radius: 5px;
  font-size: 0.8vw;
  padding:10px;
  box-shadow: 0px 0px 10px grey;
}

.a{
  width: 16vw;
}
.b{
  width: 3vw;
}

h1 {
    grid-area: titulo;
    font-family: "Poppins";
    font-size: 3em;
    flex-wrap: nowrap;
    margin-left: 1vw;
  }

  @media screen and (min-width:100px) and  (max-width:1065px){
    h1{
      font-size: 2em;
    }
  }

  @media screen and (min-width:100px) and  (max-width:710px){
    h1{
      font-size: 1em;
    }
  }

  .content{
    width: 40vw;
    height: 8vh;
    display: flex;
    align-self:center;
    justify-content: center;
    flex-direction: column;
  }

  .risco2{
    background-color: grey;
    width: 8vw;
    height: 1vh;
    border-radius: 1vw;
    position: relative;
    left: 6vw;
    filter: opacity(20%);

  }

  .risco{
    grid-area: titulo;
    background-color: #6B63FF;
    width: 8vw;
    height: 1vh;
    border-radius: 1vw;
    position: absolute;
    top: 12vh;
  }


  @media screen and (min-width:100px) and (max-width:842px){
    .item-b {
      grid-area: nome;
      width: 14vw;
      margin-left: 1vw;
      flex-wrap: nowrap;
    }
  }

  .item-b {
    grid-area: nome;
    width: 14vw;
    margin-left: 1vw;
    flex-wrap: nowrap;
  }
  .item-c {
    grid-area: sobrenome;
    width: 10vw;
    height: 5vh;
    margin-left: 5vw;
  }
  .item-d {
    grid-area: email;
    position: relative;
    width: 10vw;
    height: 5vh;
    margin-left: 1vw;
  }
  .item-e {
    grid-area: celular;
    position: relative;
    width: 10vw;
    height: 5vh;
    margin-left: 5vw;
  }
  .item-f {
    grid-area: rg;
    position: relative;
    width: 10vw;
    height: 5vh;
    margin-left: 1vw;
  }

  .item-g {
    grid-area: cpf;
    position: relative;
    width: 10vw;
    height: 5vh;
    margin-left: 6vw;
  }
  
  .item-h {
    grid-area: cep;
    position: relative;
    width: 6vw;
    height: 5vh;  
    margin-left: 3vw;
  }
  .item-i {
    grid-area: rua;
    position: relative;
    width: 10vw;
    height: 5vh;
    margin-left: 1vw;
  }
  .item-j {
    grid-area: bairro;
    position: relative;
    width: 10vw;
    height: 5vh;
    margin-left: 2vw;
  }
  .item-k {
    grid-area: numero;
    position: relative;
    width: 10vw;
    height: 5vh;
    margin-left: 2vw;
  }
  .item-l {
    grid-area: cidade;
    position: relative;
    width: 10vw;
    height: 5vh;
    margin-left: 1vw;
  }

  .item-h input{
    width: 6vw;
  }

  .item-m input{
    width: 6vw;
  }

  .item-m {
    grid-area: uf;
    position: relative;
    width: 6vw;
    height: 5vh;
    margin-left: 3vw;
  }

  .container {
    width: 40vw;
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: 35% 35% 30% ;
    grid-template-rows: 20vh 15vh 15vh 15vh 15vh;
    grid-template-areas: 
      "titulo titulo titulo"
      "nome sobrenome ."
      "email celular ."
      "rg cpf ."
      "rua bairro cep"
      "cidade numero uf";
  } */
